# Object files
*.o
*.lo

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
.so.
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug files
*.d
*.pdb
*.idb
*.ilk

# Kernel Module Compile Results
*.ko
*.mod.c
*.mod
*.mod.o
*.mod.ko
*.cmd

# Precompiled Headers
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.o

# Windows image files
*.hex
*.eep
*.bin
*.elf

# Visual Studio files
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.ncb
*.sdf
*.aps
*.opensdf
*.tlog
*.vspscc
*_i.c
*_p.c
*.nupkg

# Специфичные бинарные файлы нашего проекта
mysyslog-client
mysyslog-daemon

# Лог-файлы
*.log
.log.

# Временные файлы и папки сборки
build/
obj/

# Файлы и папки deb-пакетов
debian/files
debian/.substvars
debian/.debhelper
debian/*.debhelper.log
debian/tmp/
*.deb

# Системные файлы Windows
Thumbs.db
Desktop.ini
